<div class="container">
    <h2>What is Creatine?</h2>
    <img src="assets/photos/creatin.png" alt="Creatine supplement" style="width: 50%; margin-left: 180px;">
    <p>Creatine is a natural substance found in muscle cells that helps your skeletal muscles to produce energy during
      high-intensity exercise. Supplementing with creatine increases your muscles' phosphocreatine stores, allowing you
      to produce more ATP energy to fuel your muscles during high-intensity workouts.</p>
    <p><b>Its category is: Post-Workout.</b></p>
      <h2>Benefits:</h2>
    <ul>
      <li>Increases muscle mass and strength</li>
      <li>Improves exercise performance and recovery</li>
      <li>Supports muscle growth and repair</li>
      <li>Enhances brain function in certain conditions</li>
    </ul>
    <img src="assets/photos/Creatine benefits.jpg" style="width: 500px; height: 300px; margin-left: 110px;">
    <h2>How to Use Creatine?</h2>
    <p>Creatine is commonly consumed in the form of powder mixed with water or a protein shake. It is often taken as a
      loading dose for the first few days, followed by a maintenance dose.</p>
    <img src="assets/photos/Creatine how to use.jpg" alt="Creatine drink">
    <a href="#/cart" class="btn btn-primary" id="buttoncreatin">Buy Now</a>
  </div>

  