<div class="container">
  <h2>What is Omega 3?</h2>
  <img
    src="assets/photos/omega 3.webp"
    alt="Omega 3 Capsules"
    style="width: 40%; margin-left: 220px"
  />
  <p>
    Omega-3 fatty acids are essential fats that your body needs but cannot
    produce on its own. These fats are important for heart health, brain
    function, and reducing inflammation. Fish oil is one of the best natural
    sources of omega-3s.
  </p>
  <p>
    <b>Its category is: Pre-Workout. </b> Its purpose is to warm up muscles
    before training.
  </p>
  <h3>Benefits:</h3>
  <ul>
    <li>Supports heart health</li>
    <li>Reduces inflammation</li>
    <li>Improves brain function and eye health</li>
    <li>Boosts mood and mental health</li>
  </ul>
  <img
    src="assets/photos/OMEGAS 3.jpg"
    style="width: 500px; height: 300px; margin-left: 110px"
  />
  <h2>How to use Omega 3?</h2>
  <p>
    Follow the dosage instructions on the packaging or as advised by your
    healthcare provider. Typically, 1-2 tablets daily is common.
  </p>
  <img src="assets/photos/omega 3 slika.avif" alt="Omega 3 tabs" />
  <a href="#/cart" class="btn btn-primary" id="buttonomega">Buy Now</a>
</div>
