

  <div class="background-image">


    <div class="container  text-center ps-3 pe-3" style="align-items: center;">

      <h1 class="shadow fs-1 fs-md-2 fs-lg-3" style="padding-top: 100px;">Explore Our Products</h1>

      <hr class="divider">

      <div class="fs-1 fs-md-4 fs-lg-3 text-center" id="best">
        <p class="sameSubTexts">We offer only the best 3 products to improve your training. Before usage, contact an <a
            href="https://www.vhi.ie/members/directory-of-consultants" target="_blank" class="customLink">health
            consultant.</a></p>
      </div>



      <section id="productCards">
        <div class="container my-5" style="display: flex;">
          <div class="row justify-content-center gy-4">
            <div class="col-12 col-md-4">
              <div class="card h-100 text-center text-black" class="productCards">
                <div class="card-body">
                  <h3 class="card-title"><b>Whey Protein</b></h3>
                  <img class="product-image" src="assets/photos/Whey protein.webp"
                    alt="Whey Powder Protein Product Picture" />

                  <a href="#/whey" class="productsButtons">View More</a>
                  <a href="#/cart" class="productsButtons">Buy</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="card h-100 text-center text-black">
                <div class="card-body">
                  <h3 class="card-title"><b>Creatine</b></h3>

                  <img class="product-image" src="assets/photos/creatin.png"
                    alt="Creatine Powder Protein Product Picture" />

                  <a href="#/creatine" class="productsButtons">View More</a>
                  <a href="#/cart" class="productsButtons">Buy</a>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-4">
              <div class="card h-100 text-center text-black">
                <div class="card-body">
                  <h3 class="card-title"><b>Omega 3</b></h3>

                  <img class="product-image" src="assets/photos/omega 3.webp" alt="Omega 3 Pills Product Picture" />

                  <a href="#/omega3" class="productsButtons">View More</a>
                  <a href="#/cart" class="productsButtons">Buy</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="faqAccordion" class="mt-5">
        <h1 class="shadow text-center mb-4">FAQs</h1>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header paddingsOnFAQ" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                What is your return policy?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Our return policy allows you to return products within 30 days of purchase. Make sure the items are
                unused and in their original packaging.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header paddingsOnFAQ" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Do you offer free shipping?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Yes, we offer free standard shipping on orders over $50.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header paddingsOnFAQ" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                How can I contact customer support?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                You can contact our customer support team via email at tarik.korman@stu.ibu.edu.ba or call us at
                +387603210136.
              </div>
            </div>
          </div>
        </div>
      </section>


   </div>

  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
