

  <div class="background-image">
    <section id="registrationFormInformation">
      <div class="container my-5">
        <div class="card mx-auto" style="max-width: 600px;border-color: maroon;">
          <div class="card-header text-center" id="registrationFormTitle">


            <h3>Welcome</h3>
          </div>
          <div class="card-body">
            <form id="signinForm" class="was-validated" novalidate>
              <div id="userList" class="mb-3">

              <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" required>
                <div class="invalid-feedback">Please enter a valid email address.</div>
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" required>
                <div class="invalid-feedback">Password must be between 7 and 15 characters.</div>
              </div>

              <div class="mb-3">
                <label for="repeatPassword" class="form-label">Repeat Password:</label>
                <input type="password" class="form-control" id="repeatPassword" required>
                <div class="invalid-feedback">Passwords must match.</div>
              </div>

                 <div id="registrationButton">
                 <button id="submitBtn" type="submit" class="btn btn-danger w-100">Submit</button>
                 </div>

              

            </form>
          </div>
        </div>
      </div>
    </section>




  </div>
