<div class="container">
        <h2>What is Whey Protein?</h2>
        <img src="assets/photos/Whey protein.webp" alt="Whey Protein" style="width: 50%; margin-left: 180px;"
            class="small-image">
        <p>Whey protein is a high-quality protein derived from milk during the cheese-making process. It is rich in
            essential amino acids and is quickly absorbed by the body, making it a popular choice for athletes and
            fitness
            enthusiasts.</p>
        <h2>Benefits of Whey Protein</h2>
        <ul>
            <li>Helps with muscle repair and growth</li>
            <li>Boosts immune system</li>
            <li>Supports fat loss</li>
            <li>Improves athletic performance</li>
        </ul>
        <img src="assets/photos/Vanilla-Protein-Shake.jpg" alt="Whey protein shake"
            style="width: 500px; height: 450px; margin-left: 110px;" class="medium-image">
        <h2>How to Use Whey Protein?</h2>
        <p>Whey protein can be consumed in various forms, such as shakes, smoothies, or added to recipes. It is usually
            taken post-workout to aid muscle recovery.</p>
        <img src="assets/photos/Protein use.webp" alt="Protein smoothie" class="large-image">

        <a href="#/cart" class="btn btn-primary" id="buttonwhey">Buy Now</a>
    </div>
